@font-face {
    font-family: "dots";
    src: url('Assets/Fonts/Dots.ttf');
}

@font-face {
    font-family: "howdy";
    src: url('Assets/Fonts/Rye-Regular.ttf');
}

@font-face {
    font-family: "future-funky";
    src: url('Assets/Fonts/Asimovian-Regular.ttf');
}

@font-face {
    font-family: "future-thin";
    src: url('Assets/Fonts/Gruppo-Regular.ttf');
}

body {
    font-family: 'Georgia', serif;
    background-color: #fdfcfa;
    color: rgb(113, 119, 131);
    text-align: center;
    padding: 15px;
}

p:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #777;
}

/* Quotes styling */
p {
    font-size: 16px;
    margin: 10px auto;
    max-width: 700px;
    font-style: italic;
}


#resizeHumans {
    scale: 110%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    margin: auto;
}

/*Center Image*/
.lightImages img:first-of-type {
    border-radius: 12px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    opacity: 0.7;
}

.lightImages img:first-of-type:hover {
    transition: ease-in-out 0.7s;
    opacity: .2;
}

/* Grid of smaller images */
.lightImages {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 1fr));
}

.lightImages img:not(:first-of-type) {
    width: 100%;
    opacity: 0.85;
    object-fit: contain;
    border-radius: 12px;
    opacity: 0.02;
}

.lightImages img:not(:first-of-type):hover {
    opacity: 1;
    transform: scale(1.05);
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 10px 18px 240px rgb(99, 91, 91);
    z-index: 100;
}

h1 {
    font-size: 1.8rem;
    margin: 2.5rem 0 1rem;
    color: #444;
    font-family: 'future-thin', sans-serif;
}

button {
    background-color: #e8e8e8;
    border: none;
    font-family: 'future-funky', sans-serif;
    padding: 0.8rem 1.4rem;
    margin: 0.5rem;
    border-radius: 8px;
    font-size: 1rem;
}

button:hover {
    background-color: #ccc;
    transition: ease 0.3s;
}

button a {
    text-decoration: none;
    color: #000;
}

button a:hover {
        color: rgba(0, 0, 0, 0.2);
        transition: ease 0.3s;
}
